.container {
  max-width: 600px;
}

input {
  max-width: 400px;
}

input#credit-code {
  max-width: 100px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
